<nav id="menu">
  <ul class="mobile-nav" id="mobile">
    {{macro.menuItem(x="English",y=config.nav.english)}}
    {{macro.menuItem(x="Math",y=config.nav.math)}}
    {{macro.menuItem(x="Settings",y=config.nav.settings,admin=true)}}
  </ul>
</nav>
