<div class="container ani text-center well">

  <h1>Random {{title|capitalize}} Quiz</h1>

  <h2 id="question"></h2>
  <input type="text" name="answer" id="answer" hidden>

  <div id="selectBtns"></div>

  <div class="row text-center">
    <h3>History</h3>
    <div class="col-md-6">
      <label for="right">Right</label>
      <input type="text" id="right" class="form-control text-center">
    </div>
    <div class="col-md-6">
      <label for="wrong">Wrong</label>
      <input type="text" id="wrong" class="form-control text-center">
    </div>
  </div>

</div>
