<div class="volumeDiv">
  <h1>Volume Slider</h1>
  <div class="vol"></div>
  <div class="volume">
      <span id="volume-progressbar" class="volume-progressbar"></span>
      <input type="range" min="0" max="1" step="0.1" value="1" id="np-volume" class="volume-slider" role="progressbar">
  </div>
</div>
