{% extends 'layout.njk' %}
{% block content %}
<div class="content ani well w90">
<h3 id="currentMode" class="text-center"></h3>
<div id="slider" class="mb80">
  <a class="control_next icon-right-open shrink"></a>
  <a class="control_prev icon-left-open shrink"></a>
  <ul id="sliderObj"></ul>
</div>

</div>
{% endblock %}
{%block scripts%}
  <script>

</script>
{% endblock %}
