{% extends 'layout.njk' %}
{% block content %}
<div class="content ani w90 well">
  <h3 class="text-center">{{title|capitalize}}</h3>
  <div class="game row"></div>
<div class="modal-overlay">
  <div class="modal">
    <h2>You win</h2>
    <button class="restart btn btn-success btn-block shrink">restart</button>
  </div>
</div>
</div>
{% endblock %}
