{% extends 'layout.njk' %} {% block content %}<div class="content ani"><div class="container"><div id="result" class="quiz-body text-center"><div id="qImg" class="container"></div><h4>Question: <span id="qid">1</span></h4><h4><span id="question"></span></h4><div class="option-block-container row" id="question-options"></div><div class="row"><div class="col-md-6"><button name="previous" id="previous" class="btn btn-success btn-block shrink">Previous</button></div><div class="col-md-6"><button name="next" id="next" class="btn btn-success btn-block shrink">Next</button></div></div></div></div></div>{% endblock %}
